KEYCLOAK_ID=itmo-events-dev
KEYCLOAK_SECRET=GTPme77JbHK0u9j4iqiOBt3Qo6vri1TU
KEYCLOAK_ISSUER=https://id.itmo.ru/auth/realms/itmo
AUTH_SECRET='secret'
API_URL=https://updaters.dev.api.itmo.su/events/api
API_VERSION=1

# AUTH_ORIGIN='' production-only
